<section>
    <h1>Aula sobre Diretivas</h1>
    <article>
        <h2>*ngIf</h2>
        <div *ngIf="cursos.length > 0">Lista de cursos aqui.</div>
        <div *ngIf="cursos.length === 0">Sem cursos para serem listados.</div>
        <hr>
        <div *ngIf="mostrarCursos === false">Sem cursos para serem listados.</div>
        <div *ngIf="mostrarCursos === true">Lista de cursos aqui.</div>
        <button (click)="onMostrarCursos()">Clique Aqui</button>
    </article>
    <article>
        <h2>*ngFor</h2>
    </article>
</section>